@page
@model PrayTm.Pages.HistoryModel
@{
    ViewData["Title"] = "History";
}

<html>
<head></head>
<body>
    @*<h2>@ViewData["Title"]</h2>
        <h3></h3>*@
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            @*<img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />*@
            <img src="~/images/123New.jpg" alt="krishna" class="img-responsive" />
            <div class="carousel-caption" role="option">
            </div>
        </div>
    </div>
    <div align="center">
        <div align="center" style="color:crimson; font-size:x-large"><marquee direction="left"><strong>Total @Model.Count rounds chanted today by @Model.TotalUsers chanters!</strong></marquee></div>
    </div>
    <div style="background:url(/images/rsz_2krishna.jpg)">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                @*<img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />*@
                <table align="left" style="color:white; font-size:medium; margin-left:50px; margin-bottom:45px; margin-top:45px">
                    <tr>
                        <td><strong>Date</strong></td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td><strong>Rounds</strong></td>
                    </tr>
                    <tr><td>&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;</td></tr>
                    <tr>
                        <td><strong>17-Sep-2018</strong></td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td><strong>@Model.date17</strong></td>
                    </tr>
                    <tr><td>&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;</td></tr>
                    <tr>
                        <td><strong>18-Sep-2018</strong></td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td><strong>@Model.date18</strong></td>
                    </tr>
                    <tr><td>&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;</td></tr>
                    <tr>
                        <td><strong>19-Sep-2018</strong></td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td><strong>@Model.date19</strong></td>
                    </tr>
                    <tr><td>&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;</td></tr>
                    <tr>
                        <td><strong>20-Sep-2018</strong></td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td><strong>@Model.date20</strong></td>
                    </tr>
                    <tr><td>&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;</td></tr>
                    <tr>
                        <td><strong>21-Sep-2018</strong></td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td><strong>@Model.date21</strong></td>
                    </tr>
                    <tr><td>&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;</td></tr>
                    <tr>
                        <td><strong>22-Sep-2018</strong></td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td><strong>@Model.date22</strong></td>
                    </tr>
                    <tr><td>&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;</td></tr>
                    <tr>
                        <td><strong>23-Sep-2018</strong></td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td><strong>@Model.date23</strong></td>
                    </tr>
                    <tr><td>&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;</td></tr>
                    <tr>
                        <td><strong>24-Sep-2018</strong></td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td><strong>@Model.date24</strong></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</body>
</html>
